

// X-Large devices (large desktops, 1200px and up)
@include mediaXl {
    .jumbotron {
        position: relative;
        background: url(/images/bg-image-2.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        color: #fff;
        align-items: center;
        margin: auto;

        &-container{
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;  
        }
        
        &-content {
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem;
        }
        .jumbotron-subcontent {
            border-left: 2px solid $secondary-color;
            padding-left: 6rem;
            margin-top: 6rem;
            & p {
                font-size: 1.2rem;
            }

            .jumbotron-btn {
                font-size: .7rem;
                font-weight: 700;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                border: 2px solid $secondary-color;
                padding: .5rem;
                color: $secondary-color;
                @include easeOut;

                &:hover {
                    border: 2px solid $primary-color;
                    background: $primary-color;
                    color: #fff;
                }
            }
        }
    
        h1,
        h2,
        h3 {
            font-weight: 300;
            margin: auto;
    
            &.lg-heading{
                font-size: 4rem;
            }
            &.sm-heading {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    .sr {


        &-content {
            padding: 6.3em 2em 3.6em 4.8em;

            .sr-item-header {
                padding-left: 10rem;

                .sr-item-title {
                    font-size: 2em;
                }
            }
            .sr-item-title {
                font-size: 2em;
            }
        }
    }

    &-icon-number {
        left: 4.5rem;
        font-size: 4.5rem;
        margin: 0;
        top: 6.25rem;

        &::after {
            top: 2.35rem;
            width: 2.829rem;
        }
    }

    .contact {
        padding-top: 10rem;

        .contact-item-title {
            font-size: 3.8rem;
        }

        &-margin {
            min-width: 65px;
        }
    }

    .menu {
        // background: rgba(#fff, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        visibility: visible;
        @include easeOut;

        &-bg {
            background: #fff;
        }

        &-btn {
            visibility: hidden;
        }

        .branding,
        &-nav,
        .nav-btn {
            display: inline-block;
        }

        .branding {
            width: 20%;
            margin: 15px 2rem;

            a {
                text-decoration: none;
            }

            &-title,
            .logo {
                display: inline-block;
                margin: auto;
            }

            &-title {
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 1rem;
            }

            .logo {
                height: 40px;
                width: 40px;
            }
        }

        .nav-item {
            display: inline-block;
            margin: auto;
            transform: translate3d(0, 0, 0);
            margin-right: 1rem;
        }

        .nav-btn-r {
            font-size: 0.8rem;
            background: $primary-color;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            padding: .5rem .8rem;
        }

        .nav-btn-l {
            font-size: 0.8rem;
            color: #444;
            text-decoration: none;
            padding: .5rem .8rem;

            &:hover {
                font-weight: 900;
                color: $primary-color;
            }
        }
        
        .nav-link {
            font-size: 0.8rem;
            color: #444;

            &:hover {
                color: $primary-color;
            }

            &.active {
                font-weight: 900;
                color: $primary-color;
            }
        }

        &-nav {
            display: inline-block;
            width: 50%;
            text-align: right;
            margin-right: 1.5rem;
            visibility: visible;
        }

    }

    .invest {
        position: relative;
        height: 60vh;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        
        .invest-btn {
            margin-top: 2rem;
            width: 70%;
    
            a {
                text-decoration: none;
                width: 100%;
                padding: .5rem 1.5rem;
                background: $primary-color;
                color: #fff;
                border-radius: 5px;
            }
        }
        
        &-container {
            position: relative;
            background: linear-gradient(90deg,
                                        rgba(darken(#fff, 5), .9) 60%, 
                                        rgba($primary-color, .9) 40%), 
                                        url(/images/logo.png);
            background-size: cover;
            margin-top: 10rem;
            z-index: 1;
            margin: auto;
            width: 900px;
            height: 450px;
            box-shadow: -1px 0px 6px 1px;
            align-items: center;
            justify-content: center;
    
            .logo {
                padding-top: 1rem;
    
                &-image{
                    width: 50px;
                    height: 50px;
                    background: url(/images/logo.png);
                    background-size: cover;
                    margin: 1rem;
                }
            }
    
            .invest-image {
                position: absolute;
                top: 6%;
                right: 50px;
                width: 400px;
                height: 400px;
                background: url(/images/form-2.jpg);
                background-size: cover ;
    
                img {
                    width: 400px;
                }
            }
        }
    
        .main-content {
            width: 60%;
            height: 60%;
            margin: auto 2rem;
            padding-top: 4rem;

            &-image {
                position: absolute;
                top: 10%;
                // right: -40%;
                visibility: hidden;
                background: url(/images/palm-oil-red.png);
                background-size: cover;
                width: 300px;
                height: 150px;
            }
    
            .md-heading {
                font-weight: 400;
                font-size: 2.2rem;
                color: $primary-color;
                line-height: 1;
    
                &.heading-600{
                    font-weight: 700;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// Large devices (desktops, 1024px and up)
@include mediaLg {
    .menu {
        // background: rgba(#fff, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        visibility: visible;
        @include easeOut;

        &-bg {
            background: #fff;
        }

        &-btn {
            visibility: hidden;
        }

        .branding,
        &-nav,
        .nav-btn {
            display: inline-block;
        }

        .branding {
            width: 20%;
            margin: 15px 2rem;

            a {
                text-decoration: none;
            }

            &-title,
            .logo {
                display: inline-block;
                margin: auto;
            }

            &-title {
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 1rem;
            }

            .logo {
                height: 40px;
                width: 40px;
            }
        }

        .nav-item {
            display: inline-block;
            margin: auto;
            transform: translate3d(0, 0, 0);
            margin-right: 1rem;
        }

        .nav-btn-r {
            font-size: 0.8rem;
            background: $primary-color;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            padding: .5rem .8rem;
        }

        .nav-btn-l {
            font-size: 0.8rem;
            color: #444;
            text-decoration: none;
            padding: .5rem .8rem;

            &:hover {
                font-weight: 900;
                color: $primary-color;
            }
        }
        
        .nav-link {
            font-size: 0.8rem;
            color: #444;

            &:hover {
                color: $primary-color;
            }

            &.active {
                font-weight: 900;
                color: $primary-color;
            }
        }

        &-nav {
            display: inline-block;
            width: 50%;
            text-align: right;
            margin-right: 1.5rem;
            visibility: visible;
        }

    }

    .jumbotron {
        position: relative;
        background: url(/images/bg-image-2.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        color: #fff;
        align-items: center;
        margin: auto;

        &-container{
            position: relative;
            margin: 0;
            padding: 10rem 0 5rem 20rem;
            width: 100%;
            height: 100%;
        }
        
        &-content { 
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem;
        }
        .jumbotron-subcontent {
            border-left: 2px solid $secondary-color;
            padding-left: 6rem;
            margin-top: 2rem;
            & p {
                font-size: 1.2rem;
            }

            .jumbotron-btn {
                font-size: .7rem;
                font-weight: 700;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                border: 2px solid $secondary-color;
                padding: .5rem;
                color: $secondary-color;
                @include easeOut;

                &:hover {
                    border: 2px solid $primary-color;
                    background: $primary-color;
                    color: #fff;
                }
            }
        }
    
        h1,
        h2,
        h3 {
            font-weight: 300;
            margin: auto;
    
            &.lg-heading{
                font-size: 4rem;
            }
            &.sm-heading {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    .about {
        margin: 1rem 3rem 1rem 3rem;
        padding: 1rem;
        background: #fff;
    
        &-container{
            & > div {
                height: 100%;
                width: 350px;
                padding: 0 0.5rem;
            }
            display: flex;
        }
        &-bg {
            width: 100%;
            flex-grow: 2;
            
            img {
                width: 100%;
            }
        }
    
        &-content {
            margin: auto 2rem;
            flex-grow: 4;
    
            p {
                font-size: 1rem;
                color: $paragraph-color;
            }
    
            h6.xsm-heading {
                position: relative;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                padding: 0.2rem;
                color: $heading-color;
                margin-bottom: 1.5rem;
    
                &::after {
                    width: 20px;
                    height: 2px;
                    background: $secondary-color;
                }
    
                &:after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    left: 1px;
                    width: 30px;
                    height: 2px;
                    background: $secondary-color;
                }
            }
        }    
    }
    
    .sr {


        &-content {
            padding: 6.3em 2em 3.6em 4.8em;

            .sr-item-header {
                padding-left: 10rem;

                .sr-item-title {
                    font-size: 2em;
                }
            }
            .sr-item-title {
                font-size: 2em;
            }
        }
    }

    &-icon-number {
        left: 4.5rem;
        font-size: 4.5rem;
        margin: 0;
        top: 6.25rem;

        &::after {
            top: 2.35rem;
            width: 2.829rem;
        }
    }

    .steps {
        padding: 0;
        margin: 0;
    
        &-content {
            margin: 7rem 4rem;
    
            h1.lg-heading {
                font-size: 3rem;
                font-weight: 700;
                color: $primary-color;
                margin-bottom: 4rem;
            }
            .step-1 {
                position: relative;
                padding: 0;
                margin: 0;
    
                .step-img {
                    position: relative;
                    img {
                        border-radius: 10px;
                        width: 350px;
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        top: -11px;
                        left: 96px;
                        width: 270px;
                        height: 372px;
                        background: $primary-color;
                        z-index: -1;
                        border-radius: 20px;
    
                    }
    
                }
    
                &-content {
                    position: absolute;
                    top: 20%;
                    left: 43%;
                    margin-left: 2rem;
    
                    .sm-heading {
                        font-weight: 400;
                        color: #d6d5d5;
                    }
    
                    h2.md-heading {
                        font-size: 2rem;
                        font-weight: 600;
                    }
    
                    p {
                        font-size: 1.2rem;
                        color: $paragraph-color;
                    }
                }
                
            }
        }
    }

    .why {
        margin: 10px 0 16px 0;
        width: 100%;
        display: grid;
        grid-template-areas: 
        'why-image why-content-container';
        grid-template-columns: 1fr 1fr;
    
        & > div {
            display: inline-block;
        }
        
        &-image {
            grid-area: why-image;
            width: 400px;
            padding: 1rem;
            margin: 0;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    
        &-content-container {
            grid-area: why-content-container;
            // margin-left: 20px;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            margin: auto;
    
            h5.xsm-heading {
                font-weight: 300;
                color: $heading-color;
            }
    
            h2.md-heading {
                font-size: 3rem;
                color: $primary-color;
            }
    
            p {
                color: $paragraph-color;
            }
        }
    }

    .contact {

        .contact-item-title {
            font-size: 3.8rem;
        }

        &-margin {
            min-width: 65px;
        }
    }

    .contact {
        display: grid;
        grid-template-areas: 
        'contact-us contact-map';
        grid-template-columns: 1fr 1fr;

        .contact-us,
        .contact-map {
            margin: .9rem;
        }
    
        .contact-us {
            grid-area: contact-us;
            width: 100%;
            margin: 7rem;
        }
    
        .contact-map {
            grid-area: contact-map;
        }
    
        .wp-wrap {
            display: grid;
            grid-template-areas: 
            'contact-us-content contact-us-content';
            grid-template-columns: repeat(2, 1fr);
    
            .vc-empty-box-1{
                grid-area: vc-empty-box-1;
            }
    
            .contact-us-content{
                grid-area: contact-us-content;
    
                &-wrapper {
                    padding-left: 0!important;
                }
            }
    
            .vc-empty-box-2{
                grid-area: vc-empty-box-2;
            }
        }
    
        .contact-title {
            position: relative;
            width: 350px;
    
    
            .contact-item-subtitle {
                color: $primary-color;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                text-align: left;
            }
    
            .contact-item-title {
                line-height: 0.92;
                font-weight: 300;
            }
        }
        
        &-margin {
            color: $primary-color;
            padding-right: 1em;
            min-width: 89px;
            box-sizing: border-box;
            display: inline-block;
        }
    
        a {
            text-decoration: none;
            color: $primary-color;
    
            &:hover {
                color: lighten($primary-color, 6);
            }
        }
    }

    .invest {
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
        
        .invest-btn {
            margin-top: 2rem;
            width: 70%;
    
            a {
                text-decoration: none;
                width: 100%;
                padding: .5rem 1.5rem;
                background: $primary-color;
                color: #fff;
                border-radius: 5px;
            }
        }
        
        &-container {
            position: relative;
            background: linear-gradient(90deg,
                                        rgba(darken(#fff, 5), .9) 60%, 
                                        rgba($primary-color, .9) 40%), 
                                        url(/images/logo.png);
            background-size: cover;
            margin-bottom: -3rem;
            z-index: 1;
            width: 900px;
            height: 450px;
            box-shadow: -1px 0px 6px 1px;
            align-items: center;
            justify-content: center;
    
            .logo {
                padding-top: 1rem;
    
                &-image{
                    width: 50px;
                    height: 50px;
                    background: url(/images/logo.png);
                    background-size: cover;
                    margin: 1rem;
                }
            }
    
            .invest-image {
                position: absolute;
                top: 6%;
                right: 50px;
                width: 400px;
                height: 400px;
                background: url(/images/form-2.jpg);
                background-size: cover ;
    
                img {
                    width: 400px;
                }
            }
        }
    
        .main-content {
            width: 60%;
            height: 60%;
            margin: auto 2rem;
            padding-top: 4rem;

            &-image {
                position: absolute;
                top: 10%;
                // right: -40%;
                visibility: hidden;
                background: url(/images/palm-oil-red.png);
                background-size: cover;
                width: 300px;
                height: 150px;
            }
    
            .md-heading {
                font-weight: 400;
                font-size: 2.2rem;
                color: $primary-color;
                line-height: 1;
    
                &.heading-600{
                    font-weight: 700;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer {
        background: #444;
        display: grid;
        grid-template-areas: 
        'nav-1 footer-branding footer-newsletter'
        'copyright copyright copyright';
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        padding-top: 5rem;
    
        .footer-branding {
            display: inline-block;
            grid-area: footer-branding;
            text-align: center;
            width: 100%;
            height: 100%;
            margin-bottom: 1rem;
    
            img {
                width: 200px;
                height: 200px;
            }
        }
    
        .footer-newsletter {
            grid-area: footer-newsletter;
    
            .newsletter-container {
                width: 100%;
                .sm-heading {
                    font-weight: 400;
                    font-size: .9rem;
                    margin-bottom: 0;
                    text-align: center;
                    color: lighten(#444, 50);
                    letter-spacing: 1px;
                }
                .md-heading {
                    font-weight: 500;
                    font-size: 1.2rem;
                    line-height: 1;
                    text-align: center;
                    color: rgba($secondary-color, .5);
                }
               
                & .my-row {
                    width: 100%;
                    margin: 0 ;
                    padding: 0;
                }
    
                .my-col {
                    display: inline-block;
                    width: 43%;
                    margin: .5rem;
                }
                .my-col-lg {
                    width: 94%;
                    margin: .5rem;
                }
    
                .newsletter-btn {
                    margin: .5rem;
    
                    button {
                        border: none;
                        width: 97%;
                        height: 3rem;
                        border-radius: 5px;
                        background: $primary-color;
                        color: #fff;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    
        .footer-nav {
    
            .nav-bar {
                display: inline-block;
    
            }
    
            .nav-1 {
                grid-area: nav-1;
            }
    
            .nav-bar,
            .nav-item,
            .nav-link {
                list-style: none;
                text-decoration: none;
                padding: 0;
                margin: 0;
                color: #fff;
            }
    
            .nav-item {
                display: block;
                font-size: .9rem;
                margin-left: 1rem;
                padding: 5px 1rem;
            }
            
            .nav-link {
                display: inline-block;
                @include easeOut;
    
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    
        .copyright {
            grid-area: copyright;
            text-align: center;
            color: lighten(#444, 30);
            margin-bottom: 1rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include mediaMd {
    .menu-btn {
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 3;
        cursor: pointer;
        @include easeOut;

        &-bg {

            .btn-line {
                // height: 3px;
                background: #444;
                // margin: 5px;
            }
        }
    
        .btn-line {
            height: 3px;
            // background: #fff;
            margin: 5px;
            
            //First Child rotate - Line 1
            &:nth-child(1) {
                margin-left: 17px;
                width: 16px;
            }

            //Second Child Hid - Line 2
            &:nth-child(2) {
                margin-left: 11px;
                width: 22px;
            }

            //Third Child Rotate - Line 3
            &:nth-child(3) {
                width: 28px;
            }
        }

        //Rotating menu-btn to X
        &.close {
            transform: rotate(180deg);
            .btn-line {
                background: #fff;
                //First Child rotate - Line 1
                &:nth-child(1) {
                    width: 28px;
                    margin-left: 0;
                    transform: rotate(45deg) translate(9px, 2px);
                }

                //Second Child Hid - Line 2
                &:nth-child(2) {
                    visibility: hidden;
                }

                //Third Child Rotate - Line 3
                &:nth-child(3) {
                    width: 28px;
                    transform: rotate(-45deg) translate(6px, -6px);
                }
            }
        }
    }

    .menu {
        position: fixed;
        top: 0;
        transform: translate3d(800px, 0, 0);
        width: 100%;
        height: 100%;
        padding: 5rem 0 0 0;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        overflow: hidden;
        @include easeOut;

        &.show {
            background: rgba($primary-color, .9);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }

        .menu-container {
            // width: 100%;
            align-items: center;
            justify-content: center;
            // padding: 4rem;
        }

        &-nav{
            padding: 0;
            margin: auto;
            list-style: none;
            text-align: center;
            @include easeOut;

            &.show {
                margin: auto;
            }
        }


        .branding {
            margin-bottom: 2rem;
            text-align: center;

            a {
                text-decoration: none;               
            }

            &-title,
            .logo {
                display: block;
            }

            &-title {
                color: #fff;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-left: 1rem;
                margin: auto;
            }

            .logo {
                text-align: center;
                margin: auto;
                padding: 1rem;
                width: 100px;
                height: 100px;
            }
        }


        .nav-item {
            line-height: 1;
            transform: translate3d(900px, 0, 0);
            @include easeOut;

            &.show{
                transform: translate3d(0, 0, 0);
            }

            &.active > a{
                color: $secondary-color;
            }
        }

        .nav-link{
            display: inline-block;
            position: relative;
            text-transform: uppercase;
            line-height: 1;
            font-weight: 400;
            font-size: 24px;
            padding: 1rem 0;
            color: #fff;
            text-decoration: none;
            @include easeOut;

            &:hover{
                color: $secondary-color;
            }

            &.active {
                color: $secondary-color;
                font-weight: 900;
            }
        }
        .nav-btn {
            margin: 2rem auto;
            text-align: center;
            
            .nav-btn-r,
            .nav-btn-l {
                display: block;
            }
        }

        .nav-btn-r {
            font-size: 24px;
            background: $secondary-color;
            color: $primary-color;
            width: 20%;
            text-decoration: none;
            text-align: center;
            border-radius: 5px;
            padding: .5rem .8rem;
            margin: auto;
        }

        .nav-btn-l {
            font-size: 24px;
            color: #fff;
            width: 20%;
            text-decoration: none;
            text-align: center;
            padding: .5rem .8rem;
            margin: auto;

            &:hover {
                font-weight: 900;
                color: $secondary-color;
            }
        }
    }

    .jumbotron {
        position: relative;
        background: url(/images/bg-image-2.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        color: #fff;
        align-items: center;
        margin: auto;

        &-container{
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 8rem; 
        }
        
        &-content {
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem;
            text-align: center;
        }
        .jumbotron-subcontent {
            border-left: 2px solid $secondary-color;
            padding-left: 6rem;
            margin-top: 6rem;
            text-align: center;

            & p {
                font-size: 1.2rem;
                text-align: left;
            }

            .jumbotron-btn {
                font-size: .7rem;
                font-weight: 700;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                margin: auto;
                border: 2px solid $secondary-color;
                padding: .5rem;
                color: $secondary-color;
                @include easeOut;

                &:hover {
                    border: 2px solid $primary-color;
                    background: $primary-color;
                    color: #fff;
                }
            }
        }
    
        h1,
        h2,
        h3 {
            font-weight: 300;
            margin: auto;
    
            &.lg-heading{
                font-size: 4rem;
            }
            &.sm-heading {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    .sr {

        &-container {
            position: relative;
            display: grid;
            grid-template-areas: 
            'sr-01'
            'sr-02'
            'sr-03';
            grid-template-columns: 1fr;
            padding: 0;
            margin: 0;
        }

        &-content {
            padding: 6.7em 3.4em 8em 3.4em;
    
            .sr-item-header {
                padding-left: 11rem;
    
                .sr-item-title {
                    position: relative;
                    color: #fff;
                }
            }
    
            .sr-item-content {
                margin-top: 2.4em;
                min-height: 9.5em;
                color: darken(#fff, 5);
            }
    
            .sr-header {
                position: absolute;
                top: 20px;
                transform: translate(20px);
            }
        }
    }

    .about {
        margin: 0 0 1rem 0;
        padding: 1rem;
        background: #f2f2f2;
    
        &-container{
            & > div {
                margin: 1rem auto;
                height: 100%;
                width: 100%;
            }
            display: block;
            align-items: center;
            justify-content: center;
        }
        &-bg {
            width: 100%;
            margin: auto;
            
            img {
                margin: auto;
                width: 100%;
            }
        }
    
        &-content {
            text-align: center;
            margin: 0;
            p {
                font-size: 1rem;
            }
    
            h6.xsm-heading {
                position: relative;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
                padding: 0.2rem;
                color: #d6d5d5;
                margin-bottom: 1.5rem;
    
                &::after {
                    width: 20px;
                    height: 2px;
                    background: $secondary-color;
                }
    
                &:after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    left: 28px;
                    width: 30px;
                    height: 2px;
                    background: $secondary-color;
                }
            }
        }    
    }

    .contact {
        display: grid;
        grid-template-areas: 
        'contact-us' 
        'contact-map';
        grid-template-columns: 1fr;

        .contact-us,
        .contact-map {
            margin: 0;
        }
    
        .contact-us {
            grid-area: contact-us;
            width: 100%;
            margin-left: 0;
            padding: 0 2rem 1rem 5rem;
        }
    
        .contact-map {
            grid-area: contact-map;
            width: 100%;
        }
    
        .wp-wrap {
            // display: grid;
            grid-template-areas: 
            'contact-us-content contact-us-content';
            grid-template-columns: repeat(2, 1fr);
    
            .vc-empty-box-1{
                grid-area: vc-empty-box-1;
            }
    
            .contact-us-content{
                grid-area: contact-us-content;
    
                &-wrapper {
                    padding-left: 0!important;
                }
            }
    
            .vc-empty-box-2{
                grid-area: vc-empty-box-2;
            }
        }
    
        .contact-title {
            position: relative;
            width: 350px;
    
    
            .contact-item-subtitle {
                color: $primary-color;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                text-align: left;
            }
    
            .contact-item-title {
                line-height: 0.92;
                font-weight: 300;
            }
        }

        .contact .contact-us {
            padding: 0 1rem 1rem 1rem;
        }
        
        &-margin {
            color: $primary-color;
            padding-right: 1em;
            min-width: 89px;
            box-sizing: border-box;
            display: inline-block;
        }
    
        a {
            text-decoration: none;
            color: $primary-color;
    
            &:hover {
                color: lighten($primary-color, 6);
            }
        }
    }

    .steps {
        padding: 0;
        margin: 0;
        height: 100%;
    
        &-content {
            margin: 3rem;
    
            h1.lg-heading {
                font-size: 2rem;
                font-weight: 700;
                color: $primary-color;
                margin-bottom: 2rem;
                text-align: center;
            }
            .step-1 {
                position: relative;
                padding: 0;
                margin: 0;
    
                .step-img {
                    position: relative;
                    img {
                        border-radius: 10px;
                        width: 300px;
                        margin: auto 207px;
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        top: -11px;
                        left: 301px;
                        width: 220px;
                        height: 322px;
                        background: $primary-color;
                        z-index: -1;
                        border-radius: 20px;
    
                    }

                }
    
                &-content {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 2rem 1rem;
                    text-align: center;
                    line-height: 1.5;
    
                    .sm-heading {
                        font-size: 1.1rem;
                        font-weight: 400;
                        color: #d6d5d5;
                    }
    
                    h2.md-heading {
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
    
                    p {
                        font-size: .8rem;
                        color: $paragraph-color;
                    }
                }
                
            }
        }
    }

    
    .my-carousel-control-next{
        position: absolute;
        top: 435px;
        right: 85px;
        z-index: 1;
        padding: 0;
        color: #000;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
    
    .my-carousel-control-prev {
        position: absolute;
        top: 435px;
        left: 85px;
        z-index: 1;
        padding: 0;
        color: #000;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    } 
    
    .why {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-areas: 
        'why-image' 
        'why-content-container';
        grid-template-columns: 1fr;
    
        & > div {
            display: inline-block;
        }
        
        &-image {
            grid-area: why-image;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            margin-bottom: 2rem;
            margin: auto;
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    
        &-content-container {
            grid-area: why-content-container;
            text-align: center;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            padding-top: 2rem;
    
            h5.xsm-heading {
                font-weight: 300;
                color: $heading-color;
            }
    
            h2.md-heading {
                font-size: 3rem;
                color: $primary-color;
            }
    
            p {
                color: $paragraph-color;
                padding: 0 2rem;
            }
        }
    }

    .invest {
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        
        .invest-btn {
            margin-top: 2rem;
            width: 70%;
    
            a {
                text-decoration: none;
                width: 100%;
                padding: .5rem 1.5rem;
                background: $secondary-color;
                color: $primary-color;
                border-radius: 5px;
            }
        }
        
        &-container {
            position: relative;
            background: linear-gradient(180deg,
                                        rgba(darken(#fff, 5), .9) 50%, 
                                        rgba($primary-color, .9) 50%), 
                                        url(/images/logo.png);
            background-size: cover;
            margin-top: 10rem;
            z-index: 1;
            margin: auto;
            width: 100%;
            height: 900px;
            box-shadow: -1px 0px 6px 1px;
            align-items: center;
            justify-content: center;
    
            .logo {
                position: absolute;
                top: 52%;
                padding-top: 1rem;
    
                &-image{
                    width: 50px;
                    height: 50px;
                    background: url(/images/logo.png);
                    background-size: cover;
                    margin: 1rem;
                }
            }
    
            .invest-image {
                position: absolute;
                top: 2%;
                left: 10%;
                width: 600px;
                height: 400px;
                background: url(/images/form-2.jpg);
                background-size: cover ;
    
                img {
                    width: 400px;
                }
            }
        }
    
        .main-content {
            position: absolute;
            top: 60%;
            width: 60%;
            height: 60%;
            margin: auto 2rem;
            padding-top: 4rem;

            &-image {
                position: absolute;
                top: 10%;
                right: -40%;
                visibility: visible;
                background: url(/images/palm-oil-red.png);
                background-size: cover;
                width: 300px;
                height: 150px;
            }
    
            .md-heading {
                font-weight: 400;
                font-size: 2.2rem;
                color: #fff;
                line-height: 1;
    
                &.heading-600{
                    font-weight: 700;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer {
        background: #444;
        display: grid;
        grid-template-areas: 
        'footer-branding footer-branding' 
        'nav-1 footer-newsletter'
        'copyright copyright';
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding-top: 3rem;
    
        .footer-branding {
            display: inline-block;
            grid-area: footer-branding;
            text-align: center;
            width: 100%;
            height: 100%;
            margin-bottom: 1rem;
    
            img {
                width: 100px;
                height: 100px;
            }
        }
    
        .footer-newsletter {
            grid-area: footer-newsletter;
            margin-bottom: 1rem;
    
            .newsletter-container {
                width: 100%;
                .sm-heading {
                    font-weight: 400;
                    margin-bottom: 0;
                    text-align: center;
                    color: lighten(#444, 50);
                    letter-spacing: 1px;
                }
                .md-heading {
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                    text-align: center;
                    color: rgba($secondary-color, .5);
                }
               
                & .my-row {
                    width: 100%;
                    margin: 0 ;
                    padding: 0;
                }
    
                .my-col {
                    display: inline-block;
                    width: 44%;
                    margin: .5rem;
                }
                .my-col-lg {
                    width: 94%;
                    margin: .5rem;
                }
    
                .newsletter-btn {
                    margin: .5rem;
    
                    button {
                        border: none;
                        width: 97%;
                        height: 3rem;
                        border-radius: 5px;
                        background: $primary-color;
                        color: #fff;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    
        .footer-nav {
            margin-bottom: 1rem;
            .nav-bar {
                display: inline-block;
    
            }
    
            .nav-1 {
                grid-area: nav-1;
            }
    
            .nav-bar,
            .nav-item,
            .nav-link {
                list-style: none;
                text-decoration: none;
                padding: 0;
                margin: 0;
                color: #fff;
            }
    
            .nav-item {
                display: block;
                font-size: .9rem;
                margin-left: 1rem;
                padding: 5px 1rem;
            }
            
            .nav-link {
                display: inline-block;
                @include easeOut;
    
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    
        .copyright {
            grid-area: copyright;
            text-align: center;
            color: lighten(#444, 30);
        }
    }

    @for $x from 1 through 4 {
        .nav-item:nth-child(#{$x}){
            transition-delay: $x * 0.1s;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include mediaSm {

    .menu {
        padding: 1rem 0 0 0;

        .branding {
            margin-bottom: 2rem;

            &-title {
                font-size: 1.2rem;
                font-weight: 500;
            }

            .logo {
                padding: 0;
                width: 50px;
                height: 50px;
            }
        }

        .nav-link {
            font-size: 1rem;

            &.active {
                font-weight: 500;
            }
        }

        .nav-btn {
            margin: 2rem auto;
            text-align: center;
            
            .nav-btn-r,
            .nav-btn-l {
                display: block;
            }
        }

        .nav-btn-r {
            font-size: 1rem;
            background: $secondary-color;
            color: $primary-color;
            width: 150px;
            text-decoration: none;
            text-align: center;
            border-radius: 5px;
            padding: .5rem .8rem;
            margin: auto;
        }

        .nav-btn-l {
            font-size: 1rem;
            color: #fff;
            width: 150px;
            text-decoration: none;
            text-align: center;
            padding: .5rem .8rem;
            margin: auto;

            &:hover {
                font-weight: 900;
                color: $secondary-color;
            }
        }
    }
    .jumbotron {
        position: relative;
        background: url(/images/bg-image-2.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
        color: #fff;
        align-items: center;
        margin: auto;

        &-container{
            position: absolute;
            width: 100%;
            height: 100%;
            margin-top: 5rem; 
            margin-right: 2rem;
        }
        
        &-content {
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem;
        }
        .jumbotron-subcontent {
            margin-top: 2rem;
            padding: 1rem;
            border: none;

            & p {
                font-size: 1.2rem;
                text-align: center;
            }

            .jumbotron-btn {
                font-size: .7rem;
                font-weight: 700;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                border: 2px solid $secondary-color;
                padding: .5rem;
                color: $secondary-color;
                @include easeOut;

                &:hover {
                    border: 2px solid $primary-color;
                    background: $primary-color;
                    color: #fff;
                }
            }
        }
    
        h1,
        h2,
        h3 {
            font-weight: 300;
            margin: auto;
    
            &.lg-heading{
                font-size: 2.5rem;
                font-weight: 400;
            }
            &.sm-heading {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    .contact-title {
        position: relative;
        width: 100% !important;
    }
    .contact .contact-us {
        padding: 0 1rem 1rem 1rem;
    }

    .sr {

        &-01,
        &-02{
            width: 100% !important;
            text-align: center;
        }
        &-01 {
            width: 360px;
        }

        &-02{
            grid-area: sr-02;
            background: lighten($primary-color, 5);
            width: 360px;
        }

        &-container {
            position: relative;
            display: grid;
            grid-template-areas: 
            'sr-01'
            'sr-02'
            'sr-03';
            grid-template-columns: 1fr;
            padding: 0;
            margin: 0;
        }

        &-content {
            padding: 6.7em 3.4em 8em 3.4em;
    
            .sr-item-header {
                text-align: center;
                padding-left: 0;
    
                .sr-item-title {
                    position: relative;
                    color: #fff;
                    padding-bottom: .5rem;
                    display: inline-block;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        width: 20%;
                        height: 2px;
                        transform: translate(-50%, 0%);
                        background: $secondary-color;
                    }
                }
            }
    
            .sr-item-content {
                margin-top: 2.4em;
                min-height: 9.5em;
                color: darken(#fff, 5);
            }
    
            .sr-header {
                position: absolute;
                top: 20px;
                transform: translate(20px);
            }
        }

        &-icon-number {
            position: absolute;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1em;
            top: 4.75rem;
            left: 4.2rem;
            color: darken($secondary-color, 1);
            visibility: hidden;
    
            &:after{
                content: '';
                position: absolute;
                right: -1.6rem;
                top: 2.65rem;
                width: 4.429rem;
                height: 2px;
                transform: translateX(100%);
            }
    
            &::after {
                top: 3rem;
                width: 2rem;
                background: $secondary-color;
            }
        }
    }

    .steps {
        padding: 0;
        margin: 0;
    
        &-content {
            margin: 3rem;
    
            h1.lg-heading {
                font-size: 1.7rem;
                font-weight: 700;
                color: $primary-color;
                margin-bottom: 1.5rem;
                text-align: center;
            }
            .step-1 {
                position: relative;
                padding: 0;
                margin: 0;
                align-items: center;
                justify-content: center;
    
                .step-img {
                    position: relative;
                    margin: auto;
                    
                    img {
                        border-radius: 10px;
                        width: 180px;
                        margin-left: 10px;
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        top: -6px;
                        left: 58px;
                        width: 110px;
                        height: 191px;
                        background: $primary-color;
                        z-index: -1;
                        border-radius: 20px;
                        margin-left: 40px;
    
                    }

                }
    
                &-content {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 2rem 1rem;
                    text-align: center;
                    line-height: 1.5;
    
                    .sm-heading {
                        font-size: 1.1rem;
                        font-weight: 400;
                        color: #d6d5d5;
                    }
    
                    h2.md-heading {
                        font-size: 1.6rem;
                        font-weight: 600;
                    }
    
                    p {
                        font-size: .8rem;
                        color: $paragraph-color;
                    }
                }
                
            }
        }
    }
    .my-carousel-control-prev-icon,
    .my-carousel-control-next-icon {
        display: inline-block;
        font-size: 3rem;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }

    .my-carousel-control-next{
        position: absolute;
        top: 125px;
        right: 0;
        z-index: 1;
        padding: 0;
        color: #000;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
    
    .my-carousel-control-prev {
        position: absolute;
        top: 125px;
        left: -10px;
        z-index: 1;
        padding: 0;
        color: #000;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    } 

    .why {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-areas: 
        'why-image' 
        'why-content-container';
        grid-template-columns: 1fr;
    
        & > div {
            display: inline-block;
        }
        
        &-image {
            grid-area: why-image;
            width: 100%;
            text-align: center;
            padding: 0;
            margin-bottom: 2rem;
            margin: auto;
            img {
                border-radius: 10px;
                width: 50%;
            }
        }
    
        &-content-container {
            grid-area: why-content-container;
            text-align: center;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            padding-top: 2rem;
    
            h5.xsm-heading {
                font-weight: 300;
                color: $heading-color;
            }
    
            h2.md-heading {
                font-size: 2rem;
                color: $primary-color;
            }
    
            p {
                color: $paragraph-color;
                padding: 0 1rem;
            }
        }
    }

    .invest {
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        margin: 0;
        
        .invest-btn {
            text-align: center;
            margin-top: 2rem;
            width: 100%;
    
            a {
                text-decoration: none;
                width: 100%;
                padding: .5rem 1.5rem;
                background: $secondary-color;
                color: $primary-color;
                border-radius: 5px;
            }
        }
        
        &-container {
            position: relative;
            background: linear-gradient(180deg,
                                        rgba($primary-color, .9) 50%, 
                                        rgba($primary-color, .9) 50%), 
                                        url(/images/logo.png);
            background-size: cover;
            margin-top: 10rem;
            z-index: 1;
            margin: 0;
            width: 100%;
            height: 100%;
            box-shadow: -1px 0px 6px 1px;
            align-items: center;
            justify-content: center;
    
            .logo {
                position: relative;
                top: 0;
                padding-top: 1rem;
    
                &-image{
                    width: 50px;
                    height: 50px;
                    background: url(/images/logo.png);
                    background-size: cover;
                    margin: 1rem;
                }
            }
    
            .invest-image {
                position: relative;
                top: 2%;
                left: 0;
                width: 0;
                height: 400px;
                background: url(/images/form-2.jpg);
                background-size: cover ;
                visibility: hidden;
    
                img {
                    width: 0px;
                }
            }
        }
    
        .main-content {
            top:0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 1rem;
            text-align: center;

            &-image {
                position: relative;
                top: 0;
                // right: -40%;
                visibility: hidden;
                background: url(/images/palm-oil-red.png);
                background-size: cover;
                width: 0px;
                height: 150px;
            }
    
            .md-heading {
                font-weight: 400;
                font-size: 2.2rem;
                color: #fff;
                line-height: 1;
    
                &.heading-600{
                    font-weight: 700;
                    font-size: 2.4rem;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer {
        background: #444;
        display: grid;
        grid-template-areas: 
        'footer-branding' 
        'footer-newsletter'
        'nav-1'
        'copyright';
        grid-template-columns: 1fr;
    }
}