

// X-Large devices (large desktops, 1200px and up)
@include mediaXl {
    .jumbotron {
        position: relative;
        height: 100vh;
        color: #fff;
        align-items: center;
        margin: auto;

        &-container{
            background: darken($primary-color, 5);
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;  
        }
        
        &-content {
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem;
        }
    
        h1,
        h2,
        h3 {
            font-weight: 300;
            margin: auto;
    
            &.lg-heading{
                font-size: 6rem;
            }
            &.sm-heading {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    .sr {


        &-content {
            padding: 6.3em 2em 3.6em 4.8em;

            .sr-item-header {
                padding-left: 10rem;

                .sr-item-title {
                    font-size: 2em;
                }
            }
            .sr-item-title {
                font-size: 2em;
            }
        }
    }

    &-icon-number {
        left: 4.5rem;
        font-size: 4.5rem;
        margin: 0;
        top: 6.25rem;

        &::after {
            top: 2.35rem;
            width: 2.829rem;
        }
    }

    .contact {

        .contact-item-title {
            font-size: 3.8rem;
        }

        &-margin {
            min-width: 65px;
        }
    }
}

// Large devices (desktops, 992px and up)
@include mediaLg {
    body {
        height: 100%;
        width: 100%;
    }
    .jumbotron {
        // padding: 10rem 1rem !important;

        h1.lg-heading {
            font-size: 3rem;
        }
        h3.sm-heading {
            font-size: 1.5rem
        }
    }

    .sr {

        &-content {
            padding: 6.7em 3.4em 8em 3.4em;
    
            .sr-item-header {
                padding-left: 11rem;
    
                .sr-item-title {
                    position: relative;
                    color: #fff;
                }
            }
        }

        &-container {
            position: relative;
            display: grid;
            grid-template-areas: 
            'sr-01'
            'sr-02'
            'sr-03';
            grid-template-columns: 1fr;
            padding: 0;
            margin: 0;
        }

        &-01{
            grid-area: sr-01;
            margin: 0 10rem;
        }
    
        &-02{
            grid-area: sr-02;
            background: lighten($primary-color, 5);
            .sr-02-responsive {
                margin: 0 10rem;
                position: relative;
            }
        }
    
        &-03{
            grid-area: sr-03;
            margin: 0 10rem;
        }

        
    }

    .contact {
        display: grid;
        grid-template-areas: 
        'contact-us' 
        'contact-map';
        grid-template-columns: 1fr;

        .contact-us,
        .contact-map {
            margin: .9rem;
        }
    
        .contact-us {
            grid-area: contact-us;
            width: 100%;
            margin: 7rem;
        }
    
        .contact-map {
            grid-area: contact-map;
            width: 100%;
        }
    
        .wp-wrap {
            display: grid;
            grid-template-areas: 
            'contact-us-content contact-us-content';
            grid-template-columns: repeat(2, 1fr);
    
            .vc-empty-box-1{
                grid-area: vc-empty-box-1;
            }
    
            .contact-us-content{
                grid-area: contact-us-content;
    
                &-wrapper {
                    padding-left: 0!important;
                }
            }
    
            .vc-empty-box-2{
                grid-area: vc-empty-box-2;
            }
        }
    
        .contact-title {
            position: relative;
            width: 350px;
    
    
            .contact-item-subtitle {
                color: $primary-color;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                text-align: left;
            }
    
            .contact-item-title {
                line-height: 0.92;
                font-weight: 300;
            }
        }
        
        &-margin {
            color: $primary-color;
            padding-right: 1em;
            min-width: 89px;
            box-sizing: border-box;
            display: inline-block;
        }
    
        a {
            text-decoration: none;
            color: $primary-color;
    
            &:hover {
                color: lighten($primary-color, 6);
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include mediaMd {
    .jumbotron {
        // padding: 10rem 1rem;

        h1.lg-heading {
            font-size: 2rem;
        }
        h3.sm-heading {
            font-size: 1rem
        }
    }
    .sr {

        &-container {
            position: relative;
            display: grid;
            grid-template-areas: 
            'sr-01'
            'sr-02'
            'sr-03';
            grid-template-columns: 1fr;
            padding: 0;
            margin: 0;
        }

        &-content {
            padding: 6.7em 3.4em 8em 3.4em;
    
            .sr-item-header {
                padding-left: 11rem;
    
                .sr-item-title {
                    position: relative;
                    color: #fff;
                }
            }
    
            .sr-item-content {
                margin-top: 2.4em;
                min-height: 9.5em;
                color: darken(#fff, 5);
            }
    
            .sr-header {
                position: absolute;
                top: 20px;
                transform: translate(20px);
            }
        }
    }

    .about {
        margin: 0 0 1rem 0;
        padding: 1rem;
        background: #f2f2f2;
    
        &-container{
            & > div {
                margin: 1rem auto;
                height: 100%;
                width: 100%;
            }
            display: block;
            align-items: center;
            justify-content: center;
        }
        &-bg {
            width: 100%;
            margin: auto;
            
            img {
                margin: auto;
                width: 100%;
            }
        }
    
        &-content {
            text-align: center;
            margin: 0;
            p {
                font-size: 1rem;
            }
    
            h3.sm-heading {
                text-transform: uppercase;
                font-weight: 900;
                color: $primary-color;
                background: none;
                display: inline-block;
                padding: 0.2rem;
            }
        }    
    }

    .contact {
        display: grid;
        grid-template-areas: 
        'contact-us' 
        'contact-map';
        grid-template-columns: 1fr;

        .contact-us,
        .contact-map {
            margin: 0;
        }
    
        .contact-us {
            grid-area: contact-us;
            width: 100%;
            margin-left: 0;
        }
    
        .contact-map {
            grid-area: contact-map;
            width: 100%;
        }
    
        .wp-wrap {
            // display: grid;
            grid-template-areas: 
            'contact-us-content contact-us-content';
            grid-template-columns: repeat(2, 1fr);
    
            .vc-empty-box-1{
                grid-area: vc-empty-box-1;
            }
    
            .contact-us-content{
                grid-area: contact-us-content;
    
                &-wrapper {
                    padding-left: 0!important;
                }
            }
    
            .vc-empty-box-2{
                grid-area: vc-empty-box-2;
            }
        }
    
        .contact-title {
            position: relative;
            width: 350px;
    
    
            .contact-item-subtitle {
                color: $primary-color;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                text-align: left;
            }
    
            .contact-item-title {
                line-height: 0.92;
                font-weight: 300;
            }
        }
        
        &-margin {
            color: $primary-color;
            padding-right: 1em;
            min-width: 89px;
            box-sizing: border-box;
            display: inline-block;
        }
    
        a {
            text-decoration: none;
            color: $primary-color;
    
            &:hover {
                color: lighten($primary-color, 6);
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include mediaSm {
    .jumbotron {
        padding: 10rem 0rem;
        h1.lg-heading {
            font-size: 2rem;
        }
        h3.sm-heading {
            font-size: 1rem
        }
    }

    .contact-title {
        position: relative;
        width: 320px !important;
    }

    .sr {

        &-01,
        &-02{
            width: 290px;
        }

        &-container {
            position: relative;
            display: grid;
            grid-template-areas: 
            'sr-01'
            'sr-02'
            'sr-03';
            grid-template-columns: 1fr;
            padding: 0;
            margin: 0;
        }

        &-content {
            padding: 6.7em 3.4em 8em 3.4em;
    
            .sr-item-header {
                padding-left: 11rem;
    
                .sr-item-title {
                    position: relative;
                    color: #fff;
                }
            }
    
            .sr-item-content {
                margin-top: 2.4em;
                min-height: 9.5em;
                color: darken(#fff, 5);
            }
    
            .sr-header {
                position: absolute;
                top: 20px;
                transform: translate(20px);
            }
        }
    }
}