@import  'config';
@import 'menu';
@import 'btn';


* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.jumbotron {
    position: relative;
    // padding: 10rem;
    color: #fff;
    align-items: center;
    margin: auto;

    &-content {
        // background: rgba(darken($primary-color, 5), .9);
        position: absolute;
        // width: 50%;
        // height: 100%;
        top: 20%;
        right: 10px;
        margin: auto;
        padding: 1rem;
    }

    h1,
    h2,
    h3 {
        font-weight: 300;
        margin: auto;

        &.lg-heading{
            font-size: 4.8rem;
        }
        &.sm-heading {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

.about {
    margin: 0;
    padding: 1rem;
    background: #f2f2f2;

    &-container{
        & > div {
            height: 100%;
            width: 200px;
            padding: 0 0.5rem;
        }
        display: flex;
    }
    &-bg {
        width: 100%;
        flex-grow: 2;
        
        img {
            width: 100%;
        }
    }

    &-content {
        margin: auto 4rem;
        flex-grow: 4;

        p {
            font-size: 1.1rem;
        }

        h3.sm-heading {
            background: $primary-color;
            display: inline-block;
            padding: 0.2rem;
        }
    }    
}

.sr {
    background: $primary-color;
    margin: 0;
    padding: 0;
    
    &-container {
        position: relative;
        display: grid;
        grid-template-areas: 
        'sr-01 sr-02';
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin: 0;
    }

    &-item {
        position: relative;
    }

    &-01{
        grid-area: sr-01;
        background: $primary-color;
        width: 100%;
    }

    &-02{
        grid-area: sr-02;
        background: lighten($primary-color, 5);
    }

    &-03{
        grid-area: sr-03;
    }

    &-content {
        padding: 8.7em 8.4em 8em 8.4em;

        .sr-item-header {
            padding-left: 2rem;

            .sr-item-title {
                position: relative;
                color: #fff;
            }
        }

        .sr-item-content {
            margin-top: 2.4em;
            min-height: 9.5em;
            color: darken(#fff, 5);
        }

        .sr-header {
            position: absolute;
            top: 20px;
            transform: translate(20px);
        }
    }

    &-icon-number {
        position: absolute;
        font-size: 5.4rem;
        font-weight: 400;
        line-height: 1em;
        top: 4.75rem;
        left: 4.2rem;
        color: darken($secondary-color, 1);

        &:after{
            content: '';
            position: absolute;
            right: -1.6rem;
            top: 2.65rem;
            width: 4.429rem;
            height: 2px;
            transform: translateX(100%);
        }

        &::after {
            top: 3rem;
            width: 2rem;
            background: $secondary-color;
        }
    }
}

.contact {
    display: grid;
    grid-template-areas: 
    'contact-us contact-map';
    grid-template-columns: repeat(2, 1fr);

    .contact-us {
        grid-area: contact-us;
    }

    .contact-map {
        grid-area: contact-map;
    }

    .wp-wrap {
        display: grid;
        grid-template-areas: 
        'vc-empty-box-1 contact-us-content contact-us-content';
        grid-template-columns: repeat(3, 1fr);

        .vc-empty-box-1{
            grid-area: vc-empty-box-1;
        }

        .contact-us-content{
            grid-area: contact-us-content;

            &-wrapper {
                padding-left: 0!important;
            }
        }

        .vc-empty-box-2{
            grid-area: vc-empty-box-2;
        }
    }

    .contact-title {
        position: relative;
        width: 350px;


        .contact-item-subtitle {
            color: $primary-color;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-align: left;
        }

        .contact-item-title {
            line-height: 0.92;
            font-weight: 300;
        }
    }
    
    &-margin {
        color: $primary-color;
        padding-right: 1em;
        min-width: 89px;
        box-sizing: border-box;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            color: lighten($primary-color, 6);
        }
    }
}
.mytext-primary {
    color: $primary-color;
}

.mytext-secondary {
    color: $secondary-color;
}

.height-large {
    height: 6.6667rem!important;
}

.height-medium {
    height: 3rem !important;
}

.vc-custom {
    margin-top: 0.4rem !important;
}

.vc-custom-ad {
    border-left-width: 2px !important;
    padding-left: 3em !important;
    border-left-color: $primary-color !important;
    border-left-style: solid !important
}

.vc-custom-element {
    margin-bottom: 0 !important;
}

.vc-google-map {
    position: relative;
    padding-top: 0.1px;
}

iframe, video, embed {
    max-width: 100%;
    min-height: 100px;
    vertical-align: top;
}

.vc-google-map > iframe {
    width: 100%;
    height: 100%;
}



@import 'mobile';