@import  'config';


* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.jumbotron {
    position: relative;
    background: linear-gradient(rgba($background-color, $background-opacity), rgba($background-color, $background-opacity)), url(/images/oil-palm-plantation.jpg);
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    padding: 2rem;
    color: #fff;
    align-items: center;
    margin: auto;
    text-align: center;

    &-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
    }

    h1,
    h2,
    h3 {
        font-weight: 300;
        margin: auto;

        &.lg-heading{
            font-size: 6rem;
        }
        &.sm-heading {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

.about {
    margin: 0;
    padding: 1rem;
    background: #f2f2f2;

    &-container{
        & > div {
            height: 100%;
            width: 200px;
            padding: 0 0.5rem;
        }
        display: flex;
    }
    &-bg {
        width: 100%;
        flex-grow: 2;
        
        img {
            width: 100%;
        }
    }

    &-content {
        flex-grow: 4;

        h3.sm-heading {
            background: $primary-color;
            display: inline-block;
            padding: 0.2rem;
        }
    }    
}

.sr {
    margin: 0;
    padding: 0;

    &-container {
        display: flex;
        padding: 0;
        margin: 0;

        & > div {
            width: 33.3333%;
        }
    }

    &-offer{
        flex-grow: 1;
    }

    &-icon {
        font-size: 2rem;
    }
}
.mytext-primary {
    color: $primary-color;
}

.mytext-secondary {
    color: $secondary-color;
}


@import 'mobile';