<footer class="footer">
    <div class="footer-nav nav-1">
      <ul class="nav-bar">
        <li class="nav-item">
          <a href="#!" class="nav-link">Investment Portal</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">Registeration Portal</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">Login Portal</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">How to become Investor</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">How to become Agent</a>
        </li>
      </ul>
      <ul class="nav-bar">
        <li class="nav-item">
          <a href="#!" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">Why us</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">Privacy</a>
        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">FAQs</a>
        </li>
      </ul>
    </div>
    <div class="footer-branding">
      <img src="/images/logo.png" alt="Logo">
    </div>
    <div class="footer-newsletter">
      <div class="newsletter-container">
        <h5 class="sm-heading">Newsletter</h5>
        <h3 class="md-heading">Subscribe to our mailing list and stay updated on everything.</h3>
        <div class="my-row">
          <div class="my-col">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name">
          </div>
          <div class="my-col">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
          </div>
          <div class="newsletter-btn">
            <button>Subscribe Now</button>
          </div>
        </div>
      </div>     
    </div>
    <div class="copyright">
      &copy; 2021 Westside Agro Investment. All rights reserved. 
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous">
  </script>
  <script src="/js/main.js"></script>
</body>

</html>