<%- include ./partials/header %>
<section class="hero">
    <div class="hero-container">
        <div class="hero-content">
            <h3 class="md-heading">We are the Future</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, quasi?</p>
        </div>
    </div>
</section>
<section class="section-one">
    <h3 class="md-heading">who we are?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur soluta reprehenderit nisi? Consequatur mollitia minus minima dolorum quaerat tempora cumque excepturi modi nihil dolor ipsam aut magni ex nostrum harum, officia rem sit ab odio eius aspernatur. Totam ipsum tempore perferendis quisquam, quasi, maiores voluptatum maxime, odit dolore quidem quos.</p>
</section>
<section class="section-two">
    <h3 class="md-heading">what we do</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur soluta reprehenderit nisi? Consequatur mollitia minus minima dolorum quaerat tempora cumque excepturi modi nihil dolor ipsam aut magni ex nostrum harum, officia rem sit ab odio eius aspernatur. Totam ipsum tempore perferendis quisquam, quasi, maiores voluptatum maxime, odit dolore quidem quos.</p>
</section>
<section class="section-three">
    <h3 class="md-heading">insurance</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur soluta reprehenderit nisi? Consequatur mollitia minus minima dolorum quaerat tempora cumque excepturi modi nihil dolor ipsam aut magni ex nostrum harum, officia rem sit ab odio eius aspernatur. Totam ipsum tempore perferendis quisquam, quasi, maiores voluptatum maxime, odit dolore quidem quos.</p>
</section>
<%- include ./partials/footer %>