.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  transition: all .5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    background: #fff;
    margin: 5px; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      visibility: hidden; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  visibility: hidden;
  overflow: hidden; }
  .menu.show {
    background: rgba(68, 68, 68, 0.95);
    visibility: visible; }
  .menu-nav {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    transition: all .5s ease-out; }
  .menu .branding, .menu-nav {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    overflow: hidden; }
  .menu .branding {
    height: 30vh; }
  .menu .nav-item {
    transform: translate3d(900px, 0, 0);
    transition: all .5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    transition: all .5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.my-btn {
  margin-top: 2rem; }
  .my-btn a {
    text-decoration: none;
    padding: 1rem;
    transform: translate3d(0, 0, 0);
    transition: all 2s ease-out; }
    .my-btn a.my-btn-primary {
      color: #fff;
      background: #057023;
      border-radius: 5px; }
    .my-btn a:hover {
      transform: translate3d(-20px, 0, 0); }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.jumbotron {
  position: relative;
  background: linear-gradient(rgba(68, 68, 68, 0.7), rgba(68, 68, 68, 0.7)), url(/images/oil-palm-plantation.jpg);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  padding: 10rem;
  color: #fff;
  align-items: center;
  margin: auto;
  text-align: center; }
  .jumbotron-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; }
  .jumbotron h1,
  .jumbotron h2,
  .jumbotron h3 {
    font-weight: 300;
    margin: auto; }
    .jumbotron h1.lg-heading,
    .jumbotron h2.lg-heading,
    .jumbotron h3.lg-heading {
      font-size: 4.8rem; }
    .jumbotron h1.sm-heading,
    .jumbotron h2.sm-heading,
    .jumbotron h3.sm-heading {
      font-size: 2rem;
      font-weight: 600; }

.about {
  margin: 0;
  padding: 1rem;
  background: #f2f2f2; }
  .about-container {
    display: flex; }
    .about-container > div {
      height: 100%;
      width: 200px;
      padding: 0 0.5rem; }
  .about-bg {
    width: 100%;
    flex-grow: 2; }
    .about-bg img {
      width: 100%; }
  .about-content {
    margin: auto 4rem;
    flex-grow: 4; }
    .about-content p {
      font-size: 1.1rem; }
    .about-content h3.sm-heading {
      background: #057023;
      display: inline-block;
      padding: 0.2rem; }

.sr {
  background: #057023;
  margin: 0;
  padding: 0; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01 sr-02';
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0; }
  .sr-item {
    position: relative; }
  .sr-01 {
    grid-area: sr-01;
    background: #057023;
    width: 100%; }
  .sr-02 {
    grid-area: sr-02;
    background: #06882b; }
  .sr-03 {
    grid-area: sr-03; }
  .sr-content {
    padding: 8.7em 8.4em 8em 8.4em; }
    .sr-content .sr-item-header {
      padding-left: 2rem; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff; }
    .sr-content .sr-item-content {
      margin-top: 2.4em;
      min-height: 9.5em;
      color: #f2f2f2; }
    .sr-content .sr-header {
      position: absolute;
      top: 20px;
      transform: translate(20px); }
  .sr-icon-number {
    position: absolute;
    font-size: 5.4rem;
    font-weight: 400;
    line-height: 1em;
    top: 4.75rem;
    left: 4.2rem;
    color: #eecd15; }
    .sr-icon-number:after {
      content: '';
      position: absolute;
      right: -1.6rem;
      top: 2.65rem;
      width: 4.429rem;
      height: 2px;
      transform: translateX(100%); }
    .sr-icon-number::after {
      top: 3rem;
      width: 2rem;
      background: #eece1a; }

.contact {
  display: grid;
  grid-template-areas: 'contact-us contact-map';
  grid-template-columns: repeat(2, 1fr); }
  .contact .contact-us {
    grid-area: contact-us; }
  .contact .contact-map {
    grid-area: contact-map; }
  .contact .wp-wrap {
    display: grid;
    grid-template-areas: 'vc-empty-box-1 contact-us-content contact-us-content';
    grid-template-columns: repeat(3, 1fr); }
    .contact .wp-wrap .vc-empty-box-1 {
      grid-area: vc-empty-box-1; }
    .contact .wp-wrap .contact-us-content {
      grid-area: contact-us-content; }
      .contact .wp-wrap .contact-us-content-wrapper {
        padding-left: 0 !important; }
    .contact .wp-wrap .vc-empty-box-2 {
      grid-area: vc-empty-box-2; }
  .contact .contact-title {
    position: relative;
    width: 350px; }
    .contact .contact-title .contact-item-subtitle {
      color: #057023;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-align: left; }
    .contact .contact-title .contact-item-title {
      line-height: 0.92;
      font-weight: 300; }
  .contact-margin {
    color: #057023;
    padding-right: 1em;
    min-width: 89px;
    box-sizing: border-box;
    display: inline-block; }
  .contact a {
    text-decoration: none;
    color: #057023; }
    .contact a:hover {
      color: #068d2c; }

.mytext-primary {
  color: #057023; }

.mytext-secondary {
  color: #eece1a; }

.height-large {
  height: 6.6667rem !important; }

.height-medium {
  height: 3rem !important; }

.vc-custom {
  margin-top: 0.4rem !important; }

.vc-custom-ad {
  border-left-width: 2px !important;
  padding-left: 3em !important;
  border-left-color: #057023 !important;
  border-left-style: solid !important; }

.vc-custom-element {
  margin-bottom: 0 !important; }

.vc-google-map {
  position: relative;
  padding-top: 0.1px; }

iframe, video, embed {
  max-width: 100%;
  min-height: 100px;
  vertical-align: top; }

.vc-google-map > iframe {
  width: 100%;
  height: 100%; }

@media screen and (min-width: 1200px) {
  .sr-content {
    padding: 6.3em 2em 3.6em 4.8em; }
    .sr-content .sr-item-header {
      padding-left: 10rem; }
      .sr-content .sr-item-header .sr-item-title {
        font-size: 2em; }
    .sr-content .sr-item-title {
      font-size: 2em; }
  -icon-number {
    left: 4.5rem;
    font-size: 4.5rem;
    margin: 0;
    top: 6.25rem; }
    -icon-number::after {
      top: 2.35rem;
      width: 2.829rem; }
  .contact .contact-item-title {
    font-size: 3.8rem; }
  .contact-margin {
    min-width: 65px; } }

@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    height: 100%;
    width: 100%; }
  .jumbotron {
    padding: 10rem 1rem !important; }
    .jumbotron h1.lg-heading {
      font-size: 3rem; }
    .jumbotron h3.sm-heading {
      font-size: 1.5rem; }
  .sr-content {
    padding: 6.7em 3.4em 8em 3.4em; }
    .sr-content .sr-item-header {
      padding-left: 11rem; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01' 'sr-02' 'sr-03';
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0; }
  .sr-01 {
    grid-area: sr-01;
    margin: 0 10rem; }
  .sr-02 {
    grid-area: sr-02;
    background: #06882b; }
    .sr-02 .sr-02-responsive {
      margin: 0 10rem;
      position: relative; }
  .sr-03 {
    grid-area: sr-03;
    margin: 0 10rem; }
  .contact {
    display: grid;
    grid-template-areas: 'contact-us'  'contact-map';
    grid-template-columns: 1fr; }
    .contact .contact-us,
    .contact .contact-map {
      margin: .9rem; }
    .contact .contact-us {
      grid-area: contact-us;
      width: 100%;
      margin: 7rem; }
    .contact .contact-map {
      grid-area: contact-map;
      width: 100%; }
    .contact .wp-wrap {
      display: grid;
      grid-template-areas: 'contact-us-content contact-us-content';
      grid-template-columns: repeat(2, 1fr); }
      .contact .wp-wrap .vc-empty-box-1 {
        grid-area: vc-empty-box-1; }
      .contact .wp-wrap .contact-us-content {
        grid-area: contact-us-content; }
        .contact .wp-wrap .contact-us-content-wrapper {
          padding-left: 0 !important; }
      .contact .wp-wrap .vc-empty-box-2 {
        grid-area: vc-empty-box-2; }
    .contact .contact-title {
      position: relative;
      width: 350px; }
      .contact .contact-title .contact-item-subtitle {
        color: #057023;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-align: left; }
      .contact .contact-title .contact-item-title {
        line-height: 0.92;
        font-weight: 300; }
    .contact-margin {
      color: #057023;
      padding-right: 1em;
      min-width: 89px;
      box-sizing: border-box;
      display: inline-block; }
    .contact a {
      text-decoration: none;
      color: #057023; }
      .contact a:hover {
        color: #068d2c; } }

@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 10rem 1rem; }
    .jumbotron h1.lg-heading {
      font-size: 2rem; }
    .jumbotron h3.sm-heading {
      font-size: 1rem; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01' 'sr-02' 'sr-03';
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0; }
  .sr-content {
    padding: 6.7em 3.4em 8em 3.4em; }
    .sr-content .sr-item-header {
      padding-left: 11rem; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff; }
    .sr-content .sr-item-content {
      margin-top: 2.4em;
      min-height: 9.5em;
      color: #f2f2f2; }
    .sr-content .sr-header {
      position: absolute;
      top: 20px;
      transform: translate(20px); }
  .about {
    margin: 0 0 1rem 0;
    padding: 1rem;
    background: #f2f2f2; }
    .about-container {
      display: block;
      align-items: center;
      justify-content: center; }
      .about-container > div {
        margin: 1rem auto;
        height: 100%;
        width: 100%; }
    .about-bg {
      width: 100%;
      margin: auto; }
      .about-bg img {
        margin: auto;
        width: 100%; }
    .about-content {
      text-align: center;
      margin: 0; }
      .about-content p {
        font-size: 1rem; }
      .about-content h3.sm-heading {
        text-transform: uppercase;
        font-weight: 900;
        color: #057023;
        background: none;
        display: inline-block;
        padding: 0.2rem; }
  .contact {
    display: grid;
    grid-template-areas: 'contact-us'  'contact-map';
    grid-template-columns: 1fr; }
    .contact .contact-us,
    .contact .contact-map {
      margin: 0; }
    .contact .contact-us {
      grid-area: contact-us;
      width: 100%;
      margin-left: 0; }
    .contact .contact-map {
      grid-area: contact-map;
      width: 100%; }
    .contact .wp-wrap {
      grid-template-areas: 'contact-us-content contact-us-content';
      grid-template-columns: repeat(2, 1fr); }
      .contact .wp-wrap .vc-empty-box-1 {
        grid-area: vc-empty-box-1; }
      .contact .wp-wrap .contact-us-content {
        grid-area: contact-us-content; }
        .contact .wp-wrap .contact-us-content-wrapper {
          padding-left: 0 !important; }
      .contact .wp-wrap .vc-empty-box-2 {
        grid-area: vc-empty-box-2; }
    .contact .contact-title {
      position: relative;
      width: 350px; }
      .contact .contact-title .contact-item-subtitle {
        color: #057023;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-align: left; }
      .contact .contact-title .contact-item-title {
        line-height: 0.92;
        font-weight: 300; }
    .contact-margin {
      color: #057023;
      padding-right: 1em;
      min-width: 89px;
      box-sizing: border-box;
      display: inline-block; }
    .contact a {
      text-decoration: none;
      color: #057023; }
      .contact a:hover {
        color: #068d2c; } }

@media screen and (max-width: 480px) {
  .jumbotron {
    padding: 10rem 0rem; }
    .jumbotron h1.lg-heading {
      font-size: 2rem; }
    .jumbotron h3.sm-heading {
      font-size: 1rem; }
  .contact-title {
    position: relative;
    width: 320px !important; } }
