.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  transition: all .5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    background: #fff;
    margin: 5px; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      visibility: hidden; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  visibility: hidden;
  overflow: hidden; }
  .menu.show {
    background: rgba(68, 68, 68, 0.95);
    visibility: visible; }
  .menu-nav {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    transition: all .5s ease-out; }
  .menu .branding, .menu-nav {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    overflow: hidden; }
  .menu .branding {
    height: 30vh; }
  .menu .nav-item {
    transform: translate3d(900px, 0, 0);
    transition: all .5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;
    transition: all .5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.my-btn {
  margin-top: 2rem; }
  .my-btn a {
    text-decoration: none;
    padding: .5rem 1rem;
    transform: translate3d(0, 0, 0);
    transition: all .5s ease-out; }
    .my-btn a.my-btn-primary {
      color: #eece1a;
      border: 2px solid #eece1a; }
    .my-btn a:hover {
      color: #fff;
      background: #057023;
      border: 2px solid #057023;
      border-radius: 10px; }

.my-carousel-control-prev-icon,
.my-carousel-control-next-icon {
  display: inline-block;
  font-size: 5rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%; }

.my-carousel-control-next {
  position: absolute;
  top: 333px;
  right: 445px;
  z-index: 1;
  padding: 0;
  color: #000;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease; }

.my-carousel-control-prev {
  position: absolute;
  top: 333px;
  left: 535px;
  z-index: 1;
  padding: 0;
  color: #000;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.jumbotron {
  position: relative;
  background: linear-gradient(rgba(68, 68, 68, 0.7), rgba(68, 68, 68, 0.7)), url(/images/bg-image.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
  align-items: center;
  margin: auto; }
  .jumbotron-container {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 10rem; }
  .jumbotron-content {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem; }
  .jumbotron .jumbotron-subcontent {
    border-left: 2px solid #eece1a;
    padding-left: 6rem;
    margin-top: 6rem; }
    .jumbotron .jumbotron-subcontent p {
      font-size: 1.2rem; }
    .jumbotron .jumbotron-subcontent .jumbotron-btn {
      font-size: .7rem;
      font-weight: 700;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      border: 2px solid #eece1a;
      padding: .5rem;
      color: #eece1a;
      transition: all .5s ease-out; }
      .jumbotron .jumbotron-subcontent .jumbotron-btn:hover {
        border: 2px solid #057023;
        background: #057023;
        color: #fff; }
  .jumbotron h1,
  .jumbotron h2,
  .jumbotron h3 {
    font-weight: 300;
    margin: auto; }
    .jumbotron h1.lg-heading,
    .jumbotron h2.lg-heading,
    .jumbotron h3.lg-heading {
      font-size: 4rem; }
    .jumbotron h1.sm-heading,
    .jumbotron h2.sm-heading,
    .jumbotron h3.sm-heading {
      font-size: 2rem;
      font-weight: 600; }

.about {
  margin: 1rem 10rem 1rem 12rem;
  padding: 1rem;
  background: #fff; }
  .about-container {
    display: flex; }
    .about-container > div {
      height: 100%;
      width: 200px;
      padding: 0 0.5rem; }
  .about-bg {
    width: 100%;
    flex-grow: 2; }
    .about-bg img {
      width: 100%; }
  .about-content {
    margin: auto 4rem;
    flex-grow: 4; }
    .about-content p {
      font-size: 1rem;
      color: #777777; }
    .about-content h6.xsm-heading {
      position: relative;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      padding: 0.2rem;
      color: #d6d5d5;
      margin-bottom: 1.5rem; }
      .about-content h6.xsm-heading::after {
        width: 20px;
        height: 2px;
        background: #eece1a; }
      .about-content h6.xsm-heading:after {
        content: '';
        position: absolute;
        top: 30px;
        left: 1px;
        width: 30px;
        height: 2px;
        background: #eece1a; }

.sr {
  background: #057023;
  margin: 0;
  padding: 0; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01 sr-02';
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0; }
  .sr-item {
    position: relative; }
  .sr-01 {
    grid-area: sr-01;
    background: #057023;
    width: 100%; }
  .sr-02 {
    grid-area: sr-02;
    background: #06882b; }
  .sr-03 {
    grid-area: sr-03; }
  .sr-content {
    padding: 8.7em 8.4em 8em 8.4em; }
    .sr-content .sr-item-header {
      padding-left: 2rem; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff; }
    .sr-content .sr-item-content {
      margin-top: 2.4em;
      min-height: 9.5em;
      color: #f2f2f2; }
    .sr-content .sr-header {
      position: absolute;
      top: 20px;
      transform: translate(20px); }
  .sr-icon-number {
    position: absolute;
    font-size: 5.4rem;
    font-weight: 400;
    line-height: 1em;
    top: 4.75rem;
    left: 4.2rem;
    color: #eecd15; }
    .sr-icon-number:after {
      content: '';
      position: absolute;
      right: -1.6rem;
      top: 2.65rem;
      width: 4.429rem;
      height: 2px;
      transform: translateX(100%); }
    .sr-icon-number::after {
      top: 3rem;
      width: 2rem;
      background: #eece1a; }

.contact {
  display: grid;
  grid-template-areas: 'contact-us contact-map';
  grid-template-columns: repeat(2, 1fr); }
  .contact .contact-us {
    grid-area: contact-us; }
  .contact .contact-map {
    grid-area: contact-map; }
  .contact .wp-wrap {
    display: grid;
    grid-template-areas: 'vc-empty-box-1 contact-us-content contact-us-content';
    grid-template-columns: repeat(3, 1fr); }
    .contact .wp-wrap .vc-empty-box-1 {
      grid-area: vc-empty-box-1; }
    .contact .wp-wrap .contact-us-content {
      grid-area: contact-us-content; }
      .contact .wp-wrap .contact-us-content-wrapper {
        padding-left: 0 !important; }
    .contact .wp-wrap .vc-empty-box-2 {
      grid-area: vc-empty-box-2; }
  .contact .contact-title {
    position: relative;
    width: 350px; }
    .contact .contact-title .contact-item-subtitle {
      color: #057023;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-align: left; }
    .contact .contact-title .contact-item-title {
      line-height: 0.92;
      font-weight: 300; }
  .contact-margin {
    color: #057023;
    padding-right: 1em;
    min-width: 89px;
    box-sizing: border-box;
    display: inline-block; }
  .contact a {
    text-decoration: none;
    color: #057023; }
    .contact a:hover {
      color: #068d2c; }

.steps {
  padding: 0;
  margin: 0; }
  .steps-content {
    margin: 7rem; }
    .steps-content h1.lg-heading {
      font-size: 3rem;
      font-weight: 700;
      color: #057023;
      margin-bottom: 4rem; }
    .steps-content .step-1 {
      position: relative;
      padding: 0;
      margin: 0; }
      .steps-content .step-1 .step-img {
        position: relative; }
        .steps-content .step-1 .step-img img {
          border-radius: 10px;
          width: 350px; }
        .steps-content .step-1 .step-img:after {
          content: '';
          position: absolute;
          top: -11px;
          left: 96px;
          width: 270px;
          height: 372px;
          background: #057023;
          z-index: -1;
          border-radius: 20px; }
      .steps-content .step-1-content {
        position: absolute;
        top: 20%;
        left: 35%;
        margin-left: 2rem; }
        .steps-content .step-1-content .sm-heading {
          font-weight: 400;
          color: #d6d5d5; }
        .steps-content .step-1-content h2.md-heading {
          font-size: 2.5rem;
          font-weight: 600; }
        .steps-content .step-1-content p {
          font-size: 1.2rem;
          color: #777777; }

.why {
  margin: 10px 120px 16px 120px;
  width: 1200px;
  display: grid;
  grid-template-areas: 'why-image why-content-container';
  grid-template-columns: 1fr 1fr; }
  .why > div {
    display: inline-block; }
  .why-image {
    grid-area: why-image;
    width: 523px;
    padding: 0;
    margin: 0; }
    .why-image img {
      border-radius: 10px; }
  .why-content-container {
    grid-area: why-content-container;
    margin-left: 77px;
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto; }
    .why-content-container h5.xsm-heading {
      font-weight: 300;
      color: #d6d5d5; }
    .why-content-container h2.md-heading {
      font-size: 3rem;
      color: #057023; }
    .why-content-container p {
      color: #777777; }

.mytext-primary {
  color: #057023; }

.mytext-secondary {
  color: #eece1a; }

.height-large {
  height: 6.6667rem !important; }

.height-medium {
  height: 3rem !important; }

.vc-custom {
  margin-top: 0.4rem !important; }

.vc-custom-ad {
  border-left-width: 2px !important;
  padding-left: 3em !important;
  border-left-color: #057023 !important;
  border-left-style: solid !important; }

.vc-custom-element {
  margin-bottom: 0 !important; }

.vc-google-map {
  position: relative;
  padding-top: 0.1px; }

iframe, video, embed {
  max-width: 100%;
  min-height: 100px;
  vertical-align: top; }

.vc-google-map > iframe {
  width: 100%;
  height: 100%; }

.my-align {
  align-items: center;
  justify-content: center;
  margin: auto; }

@media screen and (min-width: 1025px) {
  .jumbotron {
    position: relative;
    background: linear-gradient(rgba(68, 68, 68, 0.7), rgba(68, 68, 68, 0.7)), url(/images/bg-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    align-items: center;
    margin: auto; }
    .jumbotron-container {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0; }
    .jumbotron-content {
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 1rem; }
    .jumbotron .jumbotron-subcontent {
      border-left: 2px solid #eece1a;
      padding-left: 6rem;
      margin-top: 6rem; }
      .jumbotron .jumbotron-subcontent p {
        font-size: 1.2rem; }
      .jumbotron .jumbotron-subcontent .jumbotron-btn {
        font-size: .7rem;
        font-weight: 700;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #eece1a;
        padding: .5rem;
        color: #eece1a;
        transition: all .5s ease-out; }
        .jumbotron .jumbotron-subcontent .jumbotron-btn:hover {
          border: 2px solid #057023;
          background: #057023;
          color: #fff; }
    .jumbotron h1,
    .jumbotron h2,
    .jumbotron h3 {
      font-weight: 300;
      margin: auto; }
      .jumbotron h1.lg-heading,
      .jumbotron h2.lg-heading,
      .jumbotron h3.lg-heading {
        font-size: 4rem; }
      .jumbotron h1.sm-heading,
      .jumbotron h2.sm-heading,
      .jumbotron h3.sm-heading {
        font-size: 2rem;
        font-weight: 600; }
  .sr-content {
    padding: 6.3em 2em 3.6em 4.8em; }
    .sr-content .sr-item-header {
      padding-left: 10rem; }
      .sr-content .sr-item-header .sr-item-title {
        font-size: 2em; }
    .sr-content .sr-item-title {
      font-size: 2em; }
  -icon-number {
    left: 4.5rem;
    font-size: 4.5rem;
    margin: 0;
    top: 6.25rem; }
    -icon-number::after {
      top: 2.35rem;
      width: 2.829rem; }
  .contact .contact-item-title {
    font-size: 3.8rem; }
  .contact-margin {
    min-width: 65px; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    height: 100%;
    width: 100%; }
  .jumbotron h1.lg-heading {
    font-size: 3rem; }
  .jumbotron h3.sm-heading {
    font-size: 1.5rem; }
  .sr-content {
    padding: 6.7em 3.4em 8em 3.4em; }
    .sr-content .sr-item-header {
      padding-left: 11rem; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01' 'sr-02' 'sr-03';
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0; }
  .sr-01 {
    grid-area: sr-01;
    margin: 0 10rem; }
  .sr-02 {
    grid-area: sr-02;
    background: #06882b; }
    .sr-02 .sr-02-responsive {
      margin: 0 10rem;
      position: relative; }
  .sr-03 {
    grid-area: sr-03;
    margin: 0 10rem; }
  .contact {
    display: grid;
    grid-template-areas: 'contact-us'  'contact-map';
    grid-template-columns: 1fr; }
    .contact .contact-us,
    .contact .contact-map {
      margin: .9rem; }
    .contact .contact-us {
      grid-area: contact-us;
      width: 100%;
      margin: 7rem; }
    .contact .contact-map {
      grid-area: contact-map;
      width: 100%; }
    .contact .wp-wrap {
      display: grid;
      grid-template-areas: 'contact-us-content contact-us-content';
      grid-template-columns: repeat(2, 1fr); }
      .contact .wp-wrap .vc-empty-box-1 {
        grid-area: vc-empty-box-1; }
      .contact .wp-wrap .contact-us-content {
        grid-area: contact-us-content; }
        .contact .wp-wrap .contact-us-content-wrapper {
          padding-left: 0 !important; }
      .contact .wp-wrap .vc-empty-box-2 {
        grid-area: vc-empty-box-2; }
    .contact .contact-title {
      position: relative;
      width: 350px; }
      .contact .contact-title .contact-item-subtitle {
        color: #057023;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-align: left; }
      .contact .contact-title .contact-item-title {
        line-height: 0.92;
        font-weight: 300; }
    .contact-margin {
      color: #057023;
      padding-right: 1em;
      min-width: 89px;
      box-sizing: border-box;
      display: inline-block; }
    .contact a {
      text-decoration: none;
      color: #057023; }
      .contact a:hover {
        color: #068d2c; } }

@media screen and (max-width: 768px) {
  .jumbotron {
    position: relative;
    background: linear-gradient(rgba(68, 68, 68, 0.7), rgba(68, 68, 68, 0.7)), url(/images/bg-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    align-items: center;
    margin: auto; }
    .jumbotron-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      margin-top: 8rem; }
    .jumbotron-content {
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 1rem;
      text-align: center; }
    .jumbotron .jumbotron-subcontent {
      border-left: 2px solid #eece1a;
      padding-left: 6rem;
      margin-top: 6rem;
      text-align: center; }
      .jumbotron .jumbotron-subcontent p {
        font-size: 1.2rem;
        text-align: left; }
      .jumbotron .jumbotron-subcontent .jumbotron-btn {
        font-size: .7rem;
        font-weight: 700;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        border: 2px solid #eece1a;
        padding: .5rem;
        color: #eece1a;
        transition: all .5s ease-out; }
        .jumbotron .jumbotron-subcontent .jumbotron-btn:hover {
          border: 2px solid #057023;
          background: #057023;
          color: #fff; }
    .jumbotron h1,
    .jumbotron h2,
    .jumbotron h3 {
      font-weight: 300;
      margin: auto; }
      .jumbotron h1.lg-heading,
      .jumbotron h2.lg-heading,
      .jumbotron h3.lg-heading {
        font-size: 4rem; }
      .jumbotron h1.sm-heading,
      .jumbotron h2.sm-heading,
      .jumbotron h3.sm-heading {
        font-size: 2rem;
        font-weight: 600; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01' 'sr-02' 'sr-03';
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0; }
  .sr-content {
    padding: 6.7em 3.4em 8em 3.4em; }
    .sr-content .sr-item-header {
      padding-left: 11rem; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff; }
    .sr-content .sr-item-content {
      margin-top: 2.4em;
      min-height: 9.5em;
      color: #f2f2f2; }
    .sr-content .sr-header {
      position: absolute;
      top: 20px;
      transform: translate(20px); }
  .about {
    margin: 0 0 1rem 0;
    padding: 1rem;
    background: #f2f2f2; }
    .about-container {
      display: block;
      align-items: center;
      justify-content: center; }
      .about-container > div {
        margin: 1rem auto;
        height: 100%;
        width: 100%; }
    .about-bg {
      width: 100%;
      margin: auto; }
      .about-bg img {
        margin: auto;
        width: 100%; }
    .about-content {
      text-align: center;
      margin: 0; }
      .about-content p {
        font-size: 1rem; }
      .about-content h6.xsm-heading {
        position: relative;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        padding: 0.2rem;
        color: #d6d5d5;
        margin-bottom: 1.5rem; }
        .about-content h6.xsm-heading::after {
          width: 20px;
          height: 2px;
          background: #eece1a; }
        .about-content h6.xsm-heading:after {
          content: '';
          position: absolute;
          top: 30px;
          left: 28px;
          width: 30px;
          height: 2px;
          background: #eece1a; }
  .contact {
    display: grid;
    grid-template-areas: 'contact-us'  'contact-map';
    grid-template-columns: 1fr; }
    .contact .contact-us,
    .contact .contact-map {
      margin: 0; }
    .contact .contact-us {
      grid-area: contact-us;
      width: 100%;
      margin-left: 0;
      padding: 0 2rem 1rem 5rem; }
    .contact .contact-map {
      grid-area: contact-map;
      width: 100%; }
    .contact .wp-wrap {
      grid-template-areas: 'contact-us-content contact-us-content';
      grid-template-columns: repeat(2, 1fr); }
      .contact .wp-wrap .vc-empty-box-1 {
        grid-area: vc-empty-box-1; }
      .contact .wp-wrap .contact-us-content {
        grid-area: contact-us-content; }
        .contact .wp-wrap .contact-us-content-wrapper {
          padding-left: 0 !important; }
      .contact .wp-wrap .vc-empty-box-2 {
        grid-area: vc-empty-box-2; }
    .contact .contact-title {
      position: relative;
      width: 350px; }
      .contact .contact-title .contact-item-subtitle {
        color: #057023;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-align: left; }
      .contact .contact-title .contact-item-title {
        line-height: 0.92;
        font-weight: 300; }
    .contact .contact .contact-us {
      padding: 0 1rem 1rem 1rem; }
    .contact-margin {
      color: #057023;
      padding-right: 1em;
      min-width: 89px;
      box-sizing: border-box;
      display: inline-block; }
    .contact a {
      text-decoration: none;
      color: #057023; }
      .contact a:hover {
        color: #068d2c; }
  .steps {
    padding: 0;
    margin: 0;
    height: 100%; }
    .steps-content {
      margin: 3rem; }
      .steps-content h1.lg-heading {
        font-size: 2rem;
        font-weight: 700;
        color: #057023;
        margin-bottom: 2rem;
        text-align: center; }
      .steps-content .step-1 {
        position: relative;
        padding: 0;
        margin: 0; }
        .steps-content .step-1 .step-img {
          position: relative; }
          .steps-content .step-1 .step-img img {
            border-radius: 10px;
            width: 300px;
            margin: auto 207px; }
          .steps-content .step-1 .step-img:after {
            content: '';
            position: absolute;
            top: -11px;
            left: 301px;
            width: 220px;
            height: 322px;
            background: #057023;
            z-index: -1;
            border-radius: 20px; }
        .steps-content .step-1-content {
          position: relative;
          top: 0;
          left: 0;
          margin: 2rem 1rem;
          text-align: center;
          line-height: 1.5; }
          .steps-content .step-1-content .sm-heading {
            font-size: 1.1rem;
            font-weight: 400;
            color: #d6d5d5; }
          .steps-content .step-1-content h2.md-heading {
            font-size: 1.6rem;
            font-weight: 600; }
          .steps-content .step-1-content p {
            font-size: .8rem;
            color: #777777; }
  .my-carousel-control-next {
    position: absolute;
    top: 435px;
    right: 85px;
    z-index: 1;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; }
  .my-carousel-control-prev {
    position: absolute;
    top: 435px;
    left: 85px;
    z-index: 1;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; }
  .why {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-areas: 'why-image'  'why-content-container';
    grid-template-columns: 1fr; }
    .why > div {
      display: inline-block; }
    .why-image {
      grid-area: why-image;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      margin-bottom: 2rem;
      margin: auto; }
      .why-image img {
        border-radius: 10px;
        width: 100%; }
    .why-content-container {
      grid-area: why-content-container;
      text-align: center;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      padding-top: 2rem; }
      .why-content-container h5.xsm-heading {
        font-weight: 300;
        color: #d6d5d5; }
      .why-content-container h2.md-heading {
        font-size: 3rem;
        color: #057023; }
      .why-content-container p {
        color: #777777;
        padding: 0 2rem; } }

@media screen and (max-width: 480px) {
  .jumbotron {
    position: relative;
    background: linear-gradient(rgba(68, 68, 68, 0.7), rgba(68, 68, 68, 0.7)), url(/images/bg-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    align-items: center;
    margin: auto; }
    .jumbotron-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      margin-top: 5rem; }
    .jumbotron-content {
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 1rem; }
    .jumbotron .jumbotron-subcontent {
      margin-top: 2rem;
      padding: 1rem;
      border: none; }
      .jumbotron .jumbotron-subcontent p {
        font-size: 1.2rem;
        text-align: center; }
      .jumbotron .jumbotron-subcontent .jumbotron-btn {
        font-size: .7rem;
        font-weight: 700;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #eece1a;
        padding: .5rem;
        color: #eece1a;
        transition: all .5s ease-out; }
        .jumbotron .jumbotron-subcontent .jumbotron-btn:hover {
          border: 2px solid #057023;
          background: #057023;
          color: #fff; }
    .jumbotron h1,
    .jumbotron h2,
    .jumbotron h3 {
      font-weight: 300;
      margin: auto; }
      .jumbotron h1.lg-heading,
      .jumbotron h2.lg-heading,
      .jumbotron h3.lg-heading {
        font-size: 2.5rem;
        font-weight: 400; }
      .jumbotron h1.sm-heading,
      .jumbotron h2.sm-heading,
      .jumbotron h3.sm-heading {
        font-size: 2rem;
        font-weight: 600; }
  .contact-title {
    position: relative;
    width: 100% !important; }
  .contact .contact-us {
    padding: 0 1rem 1rem 1rem; }
  .sr-01, .sr-02 {
    width: 100% !important;
    text-align: center; }
  .sr-01 {
    width: 360px; }
  .sr-02 {
    grid-area: sr-02;
    background: #06882b;
    width: 360px; }
  .sr-container {
    position: relative;
    display: grid;
    grid-template-areas: 'sr-01' 'sr-02' 'sr-03';
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0; }
  .sr-content {
    padding: 6.7em 3.4em 8em 3.4em; }
    .sr-content .sr-item-header {
      text-align: center;
      padding-left: 0; }
      .sr-content .sr-item-header .sr-item-title {
        position: relative;
        color: #fff;
        padding-bottom: .5rem;
        display: inline-block; }
        .sr-content .sr-item-header .sr-item-title::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 20%;
          height: 2px;
          transform: translate(-50%, 0%);
          background: #eece1a; }
    .sr-content .sr-item-content {
      margin-top: 2.4em;
      min-height: 9.5em;
      color: #f2f2f2; }
    .sr-content .sr-header {
      position: absolute;
      top: 20px;
      transform: translate(20px); }
  .sr-icon-number {
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1em;
    top: 4.75rem;
    left: 4.2rem;
    color: #eecd15;
    visibility: hidden; }
    .sr-icon-number:after {
      content: '';
      position: absolute;
      right: -1.6rem;
      top: 2.65rem;
      width: 4.429rem;
      height: 2px;
      transform: translateX(100%); }
    .sr-icon-number::after {
      top: 3rem;
      width: 2rem;
      background: #eece1a; }
  .steps {
    padding: 0;
    margin: 0; }
    .steps-content {
      margin: 3rem; }
      .steps-content h1.lg-heading {
        font-size: 1.7rem;
        font-weight: 700;
        color: #057023;
        margin-bottom: 1.5rem;
        text-align: center; }
      .steps-content .step-1 {
        position: relative;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center; }
        .steps-content .step-1 .step-img {
          position: relative;
          margin: auto; }
          .steps-content .step-1 .step-img img {
            border-radius: 10px;
            width: 180px;
            margin-left: 20px; }
          .steps-content .step-1 .step-img:after {
            content: '';
            position: absolute;
            top: -6px;
            left: 58px;
            width: 110px;
            height: 191px;
            background: #057023;
            z-index: -1;
            border-radius: 20px;
            margin-left: 40px; }
        .steps-content .step-1-content {
          position: relative;
          top: 0;
          left: 0;
          margin: 2rem 1rem;
          text-align: center;
          line-height: 1.5; }
          .steps-content .step-1-content .sm-heading {
            font-size: 1.1rem;
            font-weight: 400;
            color: #d6d5d5; }
          .steps-content .step-1-content h2.md-heading {
            font-size: 1.6rem;
            font-weight: 600; }
          .steps-content .step-1-content p {
            font-size: .8rem;
            color: #777777; }
  .my-carousel-control-prev-icon,
  .my-carousel-control-next-icon {
    display: inline-block;
    font-size: 3rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%; }
  .my-carousel-control-next {
    position: absolute;
    top: 125px;
    right: 0;
    z-index: 1;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; }
  .my-carousel-control-prev {
    position: absolute;
    top: 125px;
    left: -10px;
    z-index: 1;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease; }
  .why {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-areas: 'why-image'  'why-content-container';
    grid-template-columns: 1fr; }
    .why > div {
      display: inline-block; }
    .why-image {
      grid-area: why-image;
      width: 100%;
      text-align: center;
      padding: 0;
      margin-bottom: 2rem;
      margin: auto; }
      .why-image img {
        border-radius: 10px;
        width: 50%; }
    .why-content-container {
      grid-area: why-content-container;
      text-align: center;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      padding-top: 2rem; }
      .why-content-container h5.xsm-heading {
        font-weight: 300;
        color: #d6d5d5; }
      .why-content-container h2.md-heading {
        font-size: 2rem;
        color: #057023; }
      .why-content-container p {
        color: #777777;
        padding: 0 1rem; } }
